<%= form_for @job, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :territory_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :territory_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :jobtype_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :jobtype_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :server_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :server_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_running, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :is_running, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :is_finished_correctly, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :is_finished_correctly, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :version, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :version, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                jobs_path, :class => 'btn' %>
  </div>
<% end %>
