<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% @job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :territory %><br>
    <%= f.text_field :territory %>
  </div>
  <div class="field">
    <%= f.label :jobtype %><br>
    <%= f.text_field :jobtype %>
  </div>
  <div class="field">
    <%= f.label :server %><br>
    <%= f.text_field :server %>
  </div>
  <div class="field">
    <%= f.label :is_running %><br>
    <%= f.text_field :is_running %>
  </div>
  <div class="field">
    <%= f.label :is_finished_correctly %><br>
    <%= f.check_box :is_finished_correctly %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
